
Web Dev/ITELEC/.vs/ITELEC/FileContentIndex/115c8c97-1aa6-442d-beed-f1dceabc25b8.vsidx
Web Dev/ITELEC/.vs/ITELEC/DesignTimeBuild/.dtbcache.v2
Web Dev/ITELEC/.vs/ITELEC/FileContentIndex/19f0f502-92df-457c-8dcd-df6332eeffbc.vsidx
Web Dev/ITELEC/.vs/ITELEC/FileContentIndex/359d527e-f19f-4701-8088-60d3707bf9a8.vsidx
Web Dev/ITELEC/.vs/ITELEC/v17/.futdcache.v2
Web Dev/ITELEC/.vs/ITELEC/v17/.suo
Web Dev/ITELEC/.vs/ProjectEvaluation/itelec.metadata.v7.bin
Web Dev/ITELEC/.vs/ProjectEvaluation/itelec.projects.v7.bin
Web Dev/ITELEC/ITELEC/obj/Debug/netcoreapp3.1/apphost.exe
Web Dev/ITELEC/ITELEC/obj/Debug/netcoreapp3.1/ITELEC.assets.cache
Web Dev/ITELEC/ITELEC/obj/Debug/netcoreapp3.1/ITELEC.GeneratedMSBuildEditorConfig.editorconfig
Web Dev/ITELEC/ITELEC/obj/ITELEC.csproj.nuget.dgspec.json
Web Dev/ITELEC/ITELEC/obj/project.assets.json
Web Dev/ITELEC/ITELEC/obj/project.nuget.cache
Web Dev/ITELEC/.vs/ITELEC/DesignTimeBuild/.dtbcache.v2
Web Dev/ITELEC/.vs/ITELEC/FileContentIndex/359d527e-f19f-4701-8088-60d3707bf9a8.vsidx
Web Dev/ITELEC/.vs/ITELEC/v17/.futdcache.v2
Web Dev/ITELEC/.vs/ITELEC/v17/.suo
Web Dev/ITELEC/.vs/ProjectEvaluation/itelec.metadata.v7.bin
Web Dev/ITELEC/.vs/ProjectEvaluation/itelec.projects.v7.bin
Web Dev/ITELEC/ITELEC/obj/Debug/netcoreapp3.1/apphost.exe
Web Dev/ITELEC/ITELEC/obj/Debug/netcoreapp3.1/ITELEC.assets.cache
Web Dev/ITELEC/ITELEC/obj/Debug/netcoreapp3.1/ITELEC.GeneratedMSBuildEditorConfig.editorconfig
Web Dev/ITELEC/ITELEC/obj/ITELEC.csproj.nuget.dgspec.json
Web Dev/ITELEC/ITELEC/obj/project.assets.json
Web Dev/ITELEC/ITELEC/obj/project.nuget.cache
