@model Instructor;

<h1>Edit Instructor</h1>
<form asp-action="EditDetails" method="post">
	<div class="form-group">
		<label asp-for="Id">ID</label>
		<input asp-for="Id" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="FirstName">First Name</label>
		<input asp-for="FirstName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="LastName">Last Name</label>
		<input asp-for="LastName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Rank">Rank</label>
		<select asp-for="Rank" asp-items="Html.GetEnumSelectList(typeof(Rank))" class="form-control"></select>
	</div>
	<div class="form-group">
		<label asp-for="HiringDate">Date Enrolled</label>
		<input asp-for="HiringDate" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
</form>