@model Student;

<h1>Edit Student</h1>
<form asp-action="EditDetail" method="post">
	<div class="form-group">
		<label asp-for="Id">ID</label>
		<input asp-for="Id" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="FirstName">First Name</label>
		<input asp-for="FirstName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="LastName">Last Name</label>
		<input asp-for="LastName" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Course">Course</label>
		<select asp-for="Course" asp-items="Html.GetEnumSelectList(typeof(Course))" class="form-control"></select>
	</div>
	<div class="form-group">
		<label asp-for="AdmissionDate">Date Enrolled</label>
		<input asp-for="AdmissionDate" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary text-light">Update</button>
	<a asp-action="Index" asp-route-id="@Model.Id"><button class="bg-danger text-light border-1 rounded-3">Return</button></a>
</form>
